/*
 * BASIC STYLES
 */

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  background: rgb(40, 40, 40);
  color: #FFF;
  cursor: default;
  height: 100%;
  font-family: BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  width: 100%;
  overflow: hidden;
}

.app {
  height: 100%;
}

/*
 * UTILITY CLASSES
 */

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disabled {
  opacity: 0.3;
}

/*
 * BUTTONS
 */

a {
  cursor: default;
  -webkit-app-region: no-drag;
}

a:not(.disabled):hover {
  -webkit-filter: brightness(1.5);
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 22px;
  transition: all 0.05s ease-out;
  text-align: center;
}


/*
 * HEADER
 */

.header {
  border-bottom: 1px solid rgb(20, 20, 20);
  height: 37px;
  padding-top: 6px;
  overflow: hidden;
}

.header .title {
  font-size: 14px;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  text-align: center;
}

.header .nav {
  font-size: 17px;
  font-weight: bold;
  margin-left: 80px;
  margin-right: 7px;
}

.header .left-nav {
  float: left;
}

.header .right-nav {
  float: right;
}

.header .nav * {
  opacity: 0.6;
}

.header .nav .disabled {
  opacity: 0.2;
}

.header .nav *:not(.disabled):hover {
  opacity: 1;
}

.header .nav .back {
  padding-right: 8px;
}

/*
 * CONTENT
 */

.content {
  width: 100%;
  height: calc(100% - 38px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

body.drag::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 0, 0, 0.3);
  border: 5px #f00 dashed;
}

/*
 * PLAYER
 */

.player {
  height: 100%;
}

.player video {
  display: block;
  width: 100%;
}

/*
 * TORRENT LIST
 */

.torrent {
  height: 130px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  transition: all 0.05s ease-out;
  position: relative;
}

.torrent:not(:last-child) {
  border-bottom: 1px solid rgb(20, 20, 20);
}

.torrent:hover {
  -webkit-filter: brightness(1.1);
}

.torrent .metadata {
  float: left;
  width: calc(100% - 240px);
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
}

.torrent .btn {
  float: right;
  margin-top: 21px;
  margin-left: 20px;
  padding-top: 9px;
}

.torrent .play {
  background-color: #C62828;
  padding-left: 3px;
}

.torrent .chromecast {
  background-color: #64B5F6;
}

.torrent .airplay {
  background-color: #607D8B;
}

.torrent .name {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.5em;
}

.torrent .status {
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  bottom: 20px;
}

.torrent .status :not(:last-child)::after {
  content: ' — ';
}
