[Desktop Entry]
Name=WebTorrent
Version=1.0
GenericName=BitTorrent Client
X-GNOME-FullName=WebTorrent
Comment=Download and share files over BitTorrent
Encoding=UTF-8
Type=Application
Icon=webtorrent-desktop
Terminal=false
Path=/opt/webtorrent-desktop
Exec=/opt/webtorrent-desktop/WebTorrent %U
TryExec=/opt/webtorrent-desktop/WebTorrent
StartupNotify=false
Categories=Network;FileTransfer;P2P;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/stream-magnet;

Actions=CreateNewTorrent;OpenTorrentFile;OpenTorrentAddress;

[Desktop Action CreateNewTorrent]
Name=Create New Torrent...
Exec=/opt/webtorrent-desktop/WebTorrent -n
Path=/opt/webtorrent-desktop

[Desktop Action OpenTorrentFile]
Name=Open Torrent File...
Exec=/opt/webtorrent-desktop/WebTorrent -o
Path=/opt/webtorrent-desktop

[Desktop Action OpenTorrentAddress]
Name=Open Torrent Address...
Exec=/opt/webtorrent-desktop/WebTorrent -u
Path=/opt/webtorrent-desktop
