.PreferencesPage {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 20px;
}

.PreferencesSection:not(:last-child) {
  margin-top: 20px;
  margin-bottom: 40px;
}

.PreferencesSection .title {
  color: rgba(255, 255, 255, 0.9);
}

.Preference:not(:last-child) {
  margin-bottom: 10px;
}
